body{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;    
   
}
h1{
    width: 500px;
    background-color: #a52828;
    border-radius: 20px;
}

p{
    padding: 10px
}

.botao{
    background-color: blanchedalmond;
    font-size: 1em;
    color: #380909;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: 1s all;
}

.botao:hover{
    transform: scale(1.1);
}
